*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran',sans-serif;
}





.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./tea.jpg");
    background-size: cover;
}

.contact .small-cont{
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

#logoname img{
    width:125px ;
    height: 40px;
    margin-top:25px 
}

.contact .small-cont .logo img{
    height: 70px;
}



.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.contact .content p{
    font-weight: 300;
    color: white;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactform {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputbox input:focus~ span,
.contactform .inputbox input:valid~ span
.contactform .textarea input:focus~ span,
.contactform .textarea input:valid~ span
  {  color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.footer{
    background-color: #323442;
    color: white;
    font-size: 0.8rem;
    height: 10rem;
    position: relative;
    text-align: center;
}

.footer p{
    padding-top: 7rem;
}
.footer ul{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 33%;
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
    

    

    
    
}
.footer .aaf ul li a{
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

@media (max-width:991px){
    .contact{
        padding: 0px;
    }
    .container{
        flex-direction: column;
        overflow: hidden;
    }

    .container .contactinfo{
        margin-bottom: 40px;
    }

    .container .contactinfo,.contactform{
        width: 100%;
    }
}